volumes:
  postgres-data:
services:
  main:
    container_name: server_main
    build: server/main
    restart: always
    ports:
      - "8100:8100"
    links:
      - postgres
    networks:
      network-example:
  file-service:
    container_name: server_file-service
    build: server/file-service
    restart: always
    ports:
      - "8101:8101"
    networks:
      network-example:
  postgres:
    container_name: postgres
    image: postgres:15
    build: DB
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      network-example:
networks:
  network-example: